.counter {
    display: flex;
    justify-content: left;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px auto;
    width: 120px;
    height: 150px;
}

.buttons {
    display: flex;
    flex-direction: row;
}